.App {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  position: relative;
}

.upload-image {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.container:hover .title {
  top: 90px;
}

.container:hover .button {
  opacity: 1;
}
